# Regressão Linear com StatsModel
<b>Author:</b> Alex Mercedes
<br><b>Creation:</b> 2026-02-18
<br><b>Description:</b> Aula de Calculo de Regressão Linear com StatsModel
<br><b>Pipeline Associado:</b> N/A 
<br><b>Notebook Associado:</b> inicio_ia_2

## Definições
<b>Description:</b> Definição de variáveis e Bibliotecas utilizadas no processo

### Definição Bibliotecas utilizadas no processo

In [13]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import statsmodels.formula.api as sm
import scipy.stats as stats
import seaborn as sns

### Definição Variáveis utilizadas no processo

In [14]:
base = pd.read_csv('arquivos/mt_cars.csv')
base.shape
base.head()

,Unnamed: 0,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
4,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2